p{
	color:black;
	font-family:Helvetica;
	text-align:left;
}

li{
	color:black;
	font-family:Helvetica;
	text-align:left;
}

.cover{
	text-shadow:2px 2px #9d9aa0;
	text-align:center;
}

.name{
	text-shadow:2px 2px #9d9aa0;
	color: blue;
	font-family: Helvetica;
	text-align: center;
}
.heading{
	text-shadow:2px 2px #9d9aa0;
	color: blue;
	font-family: Helvetica;
	text-align: left;
}

.contacts {
	display: flex;
	justify-content: space-evenly;
}

.contacts > * {
	padding: 20px;
	background-color: #caebe8;
	border: 1px solid black;
}

.flex {
	display: flex;
	justify-content: space-evenly;
}

.cover-text {
	padding: 100px;
}

.content {
	background-color: #fff5db;
	min-height: 100vh;
}

.navbar {
	background-color: #ffae3d;
}

h1{
	color:blue;
	text-align:center;
}

h2{
	color:blue;
	text-align:left;
}

h3{
	color:black;
	text-align:center;
}

img {
	object-fit:cover;
}

body {
	height: 100%;
}